## Treatment of CSV_file

In [1]:
## Importing libraries

In [3]:
import pandas as pd

In [15]:
# reading csv_file

base = pd.read_csv('base_teste_ad_1_csv.csv', ';')

In [16]:
base.head()

,data_solicitacao,data_venda,data_pagto,valor_venda,pol_comissao,valor_comissao,estado_cliente,estado_vendedor,produto,vendedor_id,Unnamed: 10,Unnamed: 11
0,13/01/2021,12/01/2021,01/02/2021,NaN,un.,750.0,SC,PR,A,V_1,NaN,NaN
1,14/02/2021,16/02/2021,01/03/2021,NaN,un.,750.0,SC,PR,A,V_1,NaN,NaN
2,17/02/2021,18/02/2021,01/03/2021,NaN,un.,750.0,NaN,PR,A,V_23,NaN,NaN
3,21/03/2021,25/03/2021,01/04/2021,NaN,un.,750.0,NaN,PR,A,V_23,NaN,NaN
4,29/01/2021,31/01/2021,01/03/2021,NaN,un.,750.0,NaN,PR,A,V_30,NaN,NaN

## Treatment of dataframe

In [19]:
#checking null values
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_solicitacao  98 non-null     object
 1   data_venda        98 non-null     object
 2   data_pagto        91 non-null     object
 3   valor_venda       38 non-null     float64
 4   pol_comissao      98 non-null     object
 5   valor_comissao    91 non-null     float64
 6   estado_cliente    34 non-null     object
 7   estado_vendedor   98 non-null     object
 8   produto           98 non-null     object
 9   vendedor_id       98 non-null     object
 10  Unnamed: 10       0 non-null      float64
 11  Unnamed: 11       0 non-null      float64
dtypes: float64(4), object(8)
memory usage: 93.8+ KB

In [ ]:
#dropping columns

In [34]:
base = base.drop(columns=['Unnamed: 10','Unnamed: 11'], inplace=True)

KeyError: "['Unnamed: 10' 'Unnamed: 11'] not found in axis"

In [32]:
base

,data_solicitacao,data_venda,data_pagto,valor_venda,pol_comissao,valor_comissao,estado_cliente,estado_vendedor,produto,vendedor_id
0,13/01/2021,12/01/2021,01/02/2021,NaN,un.,750.0,SC,PR,A,V_1
1,14/02/2021,16/02/2021,01/03/2021,NaN,un.,750.0,SC,PR,A,V_1
2,17/02/2021,18/02/2021,01/03/2021,NaN,un.,750.0,NaN,PR,A,V_23
3,21/03/2021,25/03/2021,01/04/2021,NaN,un.,750.0,NaN,PR,A,V_23
4,29/01/2021,31/01/2021,01/03/2021,NaN,un.,750.0,NaN,PR,A,V_30
...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#replacing Not available values

In [35]:
base = base.fillna('none')

In [37]:
base

,data_solicitacao,data_venda,data_pagto,valor_venda,pol_comissao,valor_comissao,estado_cliente,estado_vendedor,produto,vendedor_id
0,13/01/2021,12/01/2021,01/02/2021,none,un.,750.0,SC,PR,A,V_1
1,14/02/2021,16/02/2021,01/03/2021,none,un.,750.0,SC,PR,A,V_1
2,17/02/2021,18/02/2021,01/03/2021,none,un.,750.0,none,PR,A,V_23
3,21/03/2021,25/03/2021,01/04/2021,none,un.,750.0,none,PR,A,V_23
4,29/01/2021,31/01/2021,01/03/2021,none,un.,750.0,none,PR,A,V_30
...,...,...,...,...,...,...,...,...,...,...
994,none,none,none,none,none,none,none,none,none,none
995,none,none,none,none,none,none,none,none,none,none
996,none,none,none,none,none,none,none,none,none,none
997,none,none,none,none,none,none,none,none,none,none
998,none,none,none,none,none,none,none,none,none,none

In [ ]:
#saving treated dataframe

In [38]:
base.to_csv("base_teste.csv")

## Connecting MySQL Database with Python

In [39]:
import sqlalchemy as db #library to connect

In [40]:
#setting the connection

db_server='pymysql'
user='thaisdias'
db_port = '3306'
password = 'Thaishelena2908'
ip = '127.0.0.1'
db_name = 'franq_teste'
engine = db.create_engine(f'mysql+{db_server}://{user}:{password}@{ip}:{db_port}/{db_name}?charset=utf8',pool_pre_ping=True)
conn = engine.connect()

In [44]:
# reading dataset data_teste
base_teste = pd.read_csv('base_teste.csv')

In [48]:
#transfering dataframe to mysql
base_teste.to_sql(name='base_teste', con=conn, if_exists='replace', index=False)